rails active_storage:install


url(#{image_path "avatar.png"})"

<div style="background-image: url(<%= image_path "avatar.png"%>)"></div>



    <div class="bg-holder overlay" style="background-image: (<%= image_tag(@page.image) if @page.image.attached? %>);"> 

        </div>



                    <div class="bg-holder overlay" style="background-image: url(../assets/img/backgrounds/fun-fact.jpg);">
        </div>