     <section class="bg-1100 py-6 px-3 px-lg-0">

        <div class="container">
          <div class="row">
            <div class="col-lg-4 pr-lg-4 mb-4 mb-lg-0">
              <h5 class="text-white mb-3">Lorry Ipsum </h5>
              <p class="text-700">The 2x4, tough chassis drove! Once the stripped chassis decelerated the empty cargo van and the dovetail landscape dumped the 4x4 lorry. Once the platform body demolished the Hino. The driver manufactured the shock-resistant upfitted cargo van. The Isuzu developed the 4WD motor vehicle.</p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0"><a class="text-900 hover-color-white pr-2" href="#!"><span class="fa fa-facebook-f"></span></a></li>
                <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fa fa-twitter"></span></a></li>
                <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fa fa-linkedin-in"></span></a></li>
                <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fa fa-google-plus-g"></span></a></li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-3 pl-lg-4 mb-4 mb-lg-0">
                  <h5 class="text-white mb-3">too many links</h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/about.html">here</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/contact.html">23t</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/blog.html">B2234</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/gallery.html">24234</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="#!">234234</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="#!">234234</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3 pl-4 mb-4 mb-lg-0">
                  <h5 class="text-white mb-3">234234</h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/work.html">234234234234</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/services.html">3453</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/pricing.html">765</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="#!">8765</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="#!">098765</a></li>
                    <li class="mb-1"><a class="text-700 hover-color-white" href="#!">54674567</a></li>
                  </ul>
                </div>
                <div class="col-md-6 pl-md-4">
                  <h5 class="text-white mb-3">45674567</h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html"> 4567</a>
                      <p class="text-900 hover-color-white mb-0">456745679</p>
                    </li>
                    <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html">45674567/a>
                      <p class="text-900 hover-color-white mb-0">45674567</p>
                    </li>
                    <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html">45674567</a>
                      <p class="text-900 hover-color-white mb-0">45674567</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>