      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->

      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->

      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->

      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row">
            <div class="col mb-4 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h2 class="fs-md-5" data-zanim-xs='{"duration":"1.5","delay":0}'>how we did it</h2>
              </div>
              <div class="overflow-hidden">
                <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>working together to achieve great results</p>
              </div>
              <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9 px-5">
              <div class="media process-item border-dashed-left border-600 pb-5" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="process-icon-circle"><img class="process-icon" src="../assets/img/line-icons/medical-result.svg" alt="" /></div>
                <div class="media-body ml-4 ml-sm-5">
                  <h5 class="ls-1"><span class="bg-white pr-3">analysis &amp; planning</span></h5>
                  <p class="mb-0" data-zanim-xs='{"from":{"opacity":0},"to":{"opacity":1},"duration":1,"delay":0.2}'>At first, we will analyze the product and planning then convert to a full specification document that explains exactly what we will deliver to you. This process will include the technical & functional requirements captured along with your branding and styling guidelines.</p>
                </div>
              </div>
              <div class="media process-item border-dashed-left border-600 border-md-left-0 border-md-dashed-right pb-5" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="media-body position-relative ml-4 ml-sm-5 ml-md-0 mr-md-5">
                  <h5 class="text-md-right"> <span class="bg-white pl-md-3">Design &amp; Development</span><span class="process-devider border-right-0 l-0"></span></h5>
                  <p class="mb-0 text-md-right" data-zanim-xs='{"from":{"opacity":0},"to":{"opacity":1},"duration":1,"delay":0.3}'> This is the main production phase where we build the functionalities of your product. Once created, your product must pass through our quality assurance phase before you are finally presented with the finished deliverable.</p>
                </div>
                <div class="process-icon-circle"><img class="process-icon" src="../assets/img/line-icons/web-programming.svg" alt="" /></div>
              </div>
              <div class="media process-item border-dashed-left border-600 pb-5" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="process-icon-circle"><img class="process-icon" src="../assets/img/line-icons/technical-support.svg" alt="" /></div>
                <div class="media-body position-relative ml-4 ml-sm-5"><span class="process-devider border-left-0 r-0"></span>
                  <h5 class="ls-1"> <span class="bg-white pr-3">Testing &amp; Fixing</span></h5>
                  <p class="mb-0" data-zanim-xs='{"from":{"opacity":0},"to":{"opacity":1},"duration":1,"delay":0.4}'>After building your product, we will review your product with our talented testing team. In these steps, we will test your product with different data set and conditions. Also, this phase is essential for fixing design and development issues.</p>
                </div>
              </div>
              <div class="media process-item" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="media-body position-relative ml-4 ml-sm-5 ml-md-0 mr-md-5">
                  <h5 class="text-md-right"> <span class="bg-white pl-md-3">LAUNCH &amp; GROW</span><span class="process-devider border-right-0 l-0"></span></h5>
                  <p class="mb-0 text-md-right" data-zanim-xs='{"from":{"opacity":0},"to":{"opacity":1},"duration":1,"delay":0.5}'>The final step is where we launch your product to the production server. Here we consider components such as cloud architecture, performance, and cybersecurity if that is within that scope of your project. At this point, you are officially live!</p>
                </div>
                <div class="process-icon-circle"><img class="process-icon" src="../assets/img/line-icons/server.svg" alt="" /></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->