      <section class="py-6">

        <div class="bg-holder overlay overlay-1" style="background-image:url(../assets/img/backgrounds/performance-bg.jpg);background-position: top;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col-12 mb-4 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h2 class="fs-md-5 text-white" data-zanim-xs='{"duration":"1.5","delay":0}'>Our Performance</h2>
              </div>
              <div class="overflow-hidden">
                <p class="fs--1 text-uppercase text-white ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>Be surprised seeing the final outcome with us.</p>
              </div>
              <div class="overflow-hidden">
                <hr class="hr-short border-white" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
              </div>
            </div>
            <div class="col-lg-6 px-4 px-sm-3 px-lg-5 mb-4 mb-md-5 mb-lg-0" style="padding-top: 28px;">
              <div class="progress-line" data-options='{"progress":90,"text":"Google Page Speed","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
              <div class="progress-line" data-options='{"progress":70,"text":"Pingdom Page Speed","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
              <div class="progress-line" data-options='{"progress":87,"text":"Reign Performance Matrix","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
              <div class="progress-line" data-options='{"progress":95,"text":"Customer Satisfaction","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
            </div>
            <div class="col-lg-6 px-lg-5 d-flex flex-column justify-content-between">
              <div class="fancy-tab">
                <div class="nav-bar nav-bar-border justify-content-center justify-content-lg-start">
                  <div class="nav-bar-item active text-uppercase text-white">UX/UI</div>
                  <div class="nav-bar-item text-uppercase text-white">Support</div>
                  <div class="nav-bar-item text-uppercase text-white">SEO</div>
                  <div class="tab-indicator-trail"></div>
                </div>
                <div class="tab-contents text-white mt-4">
                  <div class="tab-content active">
                    <div class="media align-items-center"><img src="../assets/img/line-icons/diamond.svg" width="56" alt="" />
                      <div class="media-body pl-3">
                        <p class="mb-0">Reign is a team of multidisciplinary digital product experts. We extend the design and development departments of the most innovative companies. Our studio is small, working with a few client projects at a time.</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content">
                    <div class="media align-items-center"><img src="../assets/img/line-icons/customer-service.svg" width="56" alt="" />
                      <div class="media-body pl-3">
                        <p class="mb-0">Our friendly Support Team is available to help you 24 hours a day, seven days a week. We look forward to hearing from you! Our 24/7 support team is available to assist you with your any online presence needs.</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content">
                    <div class="media align-items-center"><img src="../assets/img/line-icons/monitor-3.svg" width="56" alt="" />
                      <div class="media-body pl-3">
                        <p class="mb-0">SEO is essential for every website for a long time business and marketing. We generally work on three keywords for SEO and charge a small amount. Usually, it will take 3-6 month for upgrading website search rank.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center text-lg-left"><a class="btn btn-outline-light hvr-sweep-top btn-sm mt-5 mt-lg-4 mb-2" href="../pages/work.html">Our Latest Works</a></div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>