 <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="text-center">

        <div class="container">
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col mb-4">
              <div class="overflow-hidden">
                <h2 class="fs-md-5" data-zanim-xs='{"duration":1.5,"delay":0}'>Our Pricing</h2>
              </div>
              <div class="overflow-hidden">
                <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>Amazing services at affordable price</p>
              </div>
              <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
              </div>
            </div>
          </div>
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="border border-200 rounded p-4 mx-auto" style="max-width: 300px;">
                <div class="text-center"><img src="../assets/img/line-icons/air-hot-balloon.svg" width="56" alt="" /></div>
                <h5 class="mt-3">basic</h5>
                <h2 class="font-weight-bold fs-5"><sup class="fs-1">$</sup><span class="text-base">199</span><small class="fs-0 text-lowercase">/ m</small></h2>
                <hr />
                <ul class="list-unstyled">
                  <li class="py-2">Up to 5 Pages</li>
                  <li class="py-2">1 Year Hosting</li>
                  <li class="py-2">3 Months Support</li>
                  <li class="py-2 text-400">SEO</li>
                  <li class="py-2 text-400">Security &amp; Backups</li>
                  <li class="py-2 text-400">24/7 Support</li>
                </ul><a class="btn btn-sm btn-outline-secondary mt-5 btn-block hvr-sweep-top" href="#!">get started</a>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="border border-200 rounded p-4 mx-auto" style="max-width: 300px;">
                <div class="text-center"><img src="../assets/img/line-icons/helicopter.svg" width="56" alt="" /></div>
                <h5 class="mt-3">standard</h5>
                <h2 class="font-weight-bold fs-5"><sup class="fs-1">$</sup><span class="text-base">499</span><small class="fs-0 text-lowercase">/ m</small></h2>
                <hr />
                <ul class="list-unstyled">
                  <li class="py-2">Up to 5 Pages</li>
                  <li class="py-2">1 Year Hosting</li>
                  <li class="py-2">3 Months Support</li>
                  <li class="py-2">SEO</li>
                  <li class="py-2 text-400">Security &amp; Backups</li>
                  <li class="py-2 text-400">24/7 Support</li>
                </ul><a class="btn btn-sm btn-outline-secondary mt-5 btn-block hvr-sweep-top" href="#!">get started</a>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
              <div class="border border-black rounded p-4 mx-auto" style="max-width: 300px;" data-zanim-xs='{"from":{"opacity":0,"y":20},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0}'>
                <div class="text-center"><img src="../assets/img/line-icons/airplane.svg" width="56" alt="" /></div>
                <h5 class="mt-3 ls-2">premium</h5>
                <h2 class="font-weight-bold fs-5"><sup class="fs-1">$</sup><span class="text-base">799</span><small class="fs-0 text-lowercase">/ m</small></h2>
                <hr class="border-black" />
                <ul class="list-unstyled">
                  <li class="py-2">Up to 5 Pages</li>
                  <li class="py-2">1 Year Hosting</li>
                  <li class="py-2">3 Months Support</li>
                  <li class="py-2">SEO</li>
                  <li class="py-2">Security &amp; Backups</li>
                  <li class="py-2 text-400">24/7 Support</li>
                </ul><a class="btn btn-sm btn-dark mt-5 btn-block hvr-sweep-top" href="#!">get started</a>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
              <div class="border border-200 rounded p-4 mx-auto" style="max-width: 300px;">
                <div class="text-center"><img src="../assets/img/line-icons/pricing-rocket.svg" width="56" alt="" /></div>
                <h5 class="mt-3">ultimate</h5>
                <h2 class="font-weight-bold fs-5"><sup class="fs-1">$</sup><span class="text-base">999</span><small class="fs-0 text-lowercase">/ m</small></h2>
                <hr />
                <ul class="list-unstyled">
                  <li class="py-2">Up to 5 Pages</li>
                  <li class="py-2">1 Year Hosting</li>
                  <li class="py-2">3 Months Support</li>
                  <li class="py-2">SEO</li>
                  <li class="py-2">Security &amp; Backups</li>
                  <li class="py-2">24/7 Support</li>
                </ul><a class="btn btn-sm btn-outline-secondary mt-5 btn-block hvr-sweep-top" href="#!">get started</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->