  <section class="text-center pb-0">

        <div class="container-fluid">
          <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-12 mb-4">
              <div class="overflow-hidden">
                <h2 class="fs-md-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>recent projects</h2>
              </div>
              <div class="overflow-hidden">
                <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>successful projects, happy clients, great results</p>
              </div>
              <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
              </div>
            </div>
          </div>
          <div class="sortable" data-options='{"layoutMode":"packery"}'>
            <div class="menu mb-3 justify-content-center">
              <div class="item active" data-filter="*">all</div>
              <div class="item" data-filter=".photography">Photography</div>
              <div class="item" data-filter=".design">Design</div>
              <div class="item" data-filter=".mobile">Mobile</div>
              <div class="item" data-filter=".marketing">Marketing</div>
            </div>
            <div class="row sortable-container sortable-container-gutter-fix hoverdir-grid" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/1.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Website Design</h3>
                          <p class="ls-0 mb-0">Multipurpose HTML template <br> with bootstrap 4</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/2.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">UI/UX Design</h3>
                          <p class="ls-0 mb-0">Most user friendly user <br> interface design</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/3.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Mobile Accessories</h3>
                          <p class="ls-0 mb-0">Popular mobile accessories <br> in 2019</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item photography mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.3}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/4.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Interior Photography</h3>
                          <p class="ls-0 mb-0">More than 50K happy <br> real state clients</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.4}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/5.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">App Development</h3>
                          <p class="ls-0 mb-0">Most secured and optimized <br> mobile app development</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item marketing mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.5}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/6.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Content Writing</h3>
                          <p class="ls-0 mb-0"> More than 50K blog posts <br> on different subjects</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.6}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/7.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Packaging Designing</h3>
                          <p class="ls-0 mb-0">Beautiful packaging design done <br> by our designers</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item photography mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.7}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/8.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Model Photography</h3>
                          <p class="ls-0 mb-0">Exclusive model photography by <br> award winning photographers</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
              <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3" data-zanim-xs='{"animation":"zoom-in","delay":0.8}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block" href="../pages/work-single.html"><img class="img-fluid rounded" src="../assets/img/projects/9.jpg" alt="" />
                    <div class="hoverdir-item-content">
                      <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                        <div class="text-700">
                          <h3 class="text-white lh-1 fs-2">Digital Marketing</h3>
                          <p class="ls-0 mb-0">We spread your digital products <br> all over the world</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      