      <section>

        <div class="container">
          <div class="row text-center mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col">
              <div class="overflow-hidden">
                <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Why choose us</h2>
              </div>
              <div class="overflow-hidden">
                <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>Choosing an agency is tough. <br class="d-block d-sm-none" />let us convince you</p>
              </div>
              <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
              </div>
            </div>
          </div>
          <div class="row text-center text-md-left">
            <div class="col-sm-6 col-md-4 px-lg-4 pt-md-3 pt-lg-0 pb-lg-4 h-100 feature-item">
              <h5 class="pl-lg-3">Dedicated</h5>
              <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              <div class="border-lg-top border-lg-right py-lg-3 pl-lg-0 line-indicator line-indicator-top line-indicator-top-1">
                <div class="checked-indicator checked-indicator-top"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <p class="px-lg-3 mb-0">Reign is a team of dedicated members <br class="d-block d-sm-none" /> towards their projects and clients.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 px-lg-4 pt-3 pt-sm-0 pt-md-3 pt-lg-0 pb-lg-4 h-100 feature-item">
              <h5 class="pl-lg-3">Professional</h5>
              <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              <div class="border-lg-top border-lg-right py-lg-3 pl-lg-0 line-indicator line-indicator-top line-indicator-top-2">
                <div class="checked-indicator checked-indicator-top"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <p class="px-lg-3 mb-md-0">We are all professionals and ready to <br class="d-block d-sm-none" />provide projects quickly and efficiently.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 px-lg-4 pt-3 pt-lg-0 pb-lg-4 h-100 feature-item">
              <h5 class="pl-lg-3">Experienced</h5>
              <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              <div class="border-lg-top border-lg-right py-lg-3 pl-lg-0 line-indicator line-indicator-top line-indicator-top-3">
                <div class="checked-indicator checked-indicator-top"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <p class="px-lg-3 mb-md-0">Our team is well trained, experienced <br class="d-block d-sm-none" />and know what we are doing.</p>
              </div>
            </div>
            <div class="col-12 my-3 d-none d-md-block">
              <div class="row justify-content-center">
                <div class="col-10 p-0"><img class="w-100" src="../assets/img/illustration/process-image-6.png" alt="" /></div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 px-lg-4 pt-3 pt-lg-4 feature-item">
              <div class="border-lg-bottom border-lg-right pt-0 py-lg-3 line-indicator line-indicator-bottom line-indicator-bottom-1">
                <div class="checked-indicator checked-indicator-bottom"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <h5 class="mb-lg-0 pl-lg-3">Creative</h5>
                <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              </div>
              <p class="px-lg-3 pt-lg-3 mb-md-0">We have a number of brilliant minds ready<br class="d-block d-sm-none" /> for building your <br class="d-none d-md-block d-xl-none" />new projects.</p>
            </div>
            <div class="col-sm-6 col-md-4 pt-3 pt-lg-4 px-lg-4 feature-item">
              <div class="border-lg-bottom border-lg-right pt-0 py-lg-3 line-indicator line-indicator-bottom line-indicator-bottom-2">
                <div class="checked-indicator checked-indicator-bottom"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <h5 class="mb-lg-0 pl-lg-3">24/7 support</h5>
                <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              </div>
              <p class="px-lg-3 pt-lg-3 mb-0">We are always at your service 24/7 for <br class="d-block d-sm-none" /> solving any difficulties you would face.</p>
            </div>
            <div class="col-sm-6 col-md-4 pt-3 pt-lg-4 px-lg-4 feature-item">
              <div class="border-lg-bottom border-lg-right pt-0 py-lg-3 line-indicator line-indicator-bottom line-indicator-bottom-3">
                <div class="checked-indicator checked-indicator-bottom"><span class="fas fa-check" data-fa-transform="shrink-2"></span></div>
                <h5 class="mb-lg-0 pl-lg-3">enthusiastic</h5>
                <hr class="hr-feature d-block d-sm-none border-black mt-0 mb-2" />
              </div>
              <p class="px-lg-3 pt-lg-3 mb-0">Reign has a bunch of energetic people<br class="d-block d-sm-none" /> who love what they are doing with us.</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>