<%= render "layouts/spacer" %>
<div class='container'>
  <br>

  <div class="panel panel-default bg_color">
    <h4 class="panel-heading">Driver Operator Information</h4>
    <div class="panel-body">
      <%= render 'form', driver_application: @driver_application %>
      <%= link_to 'Back', driver_applications_path %>
    </div>
  </div>
</div>
<%= render "pages/partials/footer" %>